@model dynamic

@{
    ViewBag.Title = "PartialView with Ajax";
}

<div style="height: 500px; border: solid 1px #cccccc" id="mapContainer">

</div>

<br />

<form class="form-horizontal" role="form">
    <h4> Google Map Settings</h4>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="button" id="myButton" class="btn btn-default">Load Googlemap Partial View with Ajax</button>
        </div>
    </div>
</form>

@section scripts
{
    @(Html.GoogleMap()
          .ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js"))
     )

    <script type='text/javascript'>

        $('#myButton').click(function(e) {
            e.preventDefault();
            e.stopPropagation();

            new $.jmelosegui.GoogleMap('#mapContainer').ajax({
                url: '/Basic/GooglemapPartialView',
                type: "Get",
                data: { payload: 'from ajax call'},
                success: function(data) {
                    //alert('succeded');
                }
            });
        });

    </script>
}
