@model dynamic

@{
    ViewBag.Title = "First Look";
}

<div style="height: 500px; border: solid 1px #cccccc">
    @(Html.GoogleMap()
          .Name("map")
          .Width((int)ViewData["width"])
          .Height((int)ViewData["height"]))
</div>

<br />

<form class="form-horizontal" role="form">
    <h4> Google Map Settings</h4>

    <div class="form-group">
        <label for="width" class="col-sm-1 control-label">Width</label>
        <div class="col-sm-5">
            @Html.TextBox("width", null, new { @class = "form-control", id = "mapHeight", placeholder = "Enter an integer value", @type = "number" })
            <label>0 for automatic with</label>
        </div>
        <label class="col-sm-1 control-label">px</label>
    </div>
    <div class="form-group">
        <label for="height" class="col-sm-1 control-label">Height</label>
        <div class="col-sm-5">
            @Html.TextBox("height", null, new {@class = "form-control", id = "mapHeight", placeholder = "Enter an integer value", @type = "number"}) 
            <label>0 for automatic height</label>
        </div>
        <label class="col-sm-1 control-label">px</label>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-default">Apply</button>
        </div>
    </div>
</form>
