@using Jmelosegui.Mvc.GoogleMap
@{
    ViewBag.Title = "Multiple Maps";
    Layout = "~/Views/Shared/_LayoutExamples.cshtml";
}


<div class="row">
    <div class="col-md-6" style="height: 300px">
        @(
            Html.GoogleMap()
                .ApiKey((string)ViewData["GoogleMapApiKey"])
                .Name("map")
         )
    </div>
    <div class="col-md-6" style="height: 300px">
        @(
            Html.GoogleMap()
                .Name("map1")
                .ApiKey((string)ViewData["GoogleMapApiKey"])
                .Center(c => c.Address("Madrid, Spain"))
        )
    </div>

</div>