@using Jmelosegui.Mvc.GoogleMap
@{
    ViewBag.Title = "Geolocation";
}

@{
    Html.GoogleMap()
        .Name("map")
        .ApiKey("AIzaSyC9ac-PvvyRhW-dUx0tSM-RFT9H-dNqtdU")
        .Height(300)        
        .Center(c => c.UseCurrentPosition()
                        //this will be the Latitude if your map do not support 
                        //geolocation or the client denies the location sharing
                        .Latitude(23d)
                        //this will be the Longitude if your map do not support 
                        //geolocation or the client denies the location sharing
                        .Longitude(-82.3d))
        .Markers(m => m.Add()
                        .Title("Hello Geolocation!")
                        .Window(window => window.Add()
                            .MaxWidth(200)
                            .ZIndex(3)
                            .DisableAutoPan(false)
                            .Content(
                            @<text>
                                <div>
                                    <h1>Geolocation</h1>
                                    <div id="bodyContent">
                                        <p>
                                            This marker is placed in your current location if your browser support Geolocation and you have allowed the location sharing, otherwise it is placed in the map default location.
                                        </p>

                                    </div>
                                </div>
                            </text>
            )
                        )
        )
        .Render();
}           