.social-button {
    float: right;
    margin: 20px -15px;
    list-style: none;
    padding-left: 0;
}

    .social-button > li {
        float: left;
         margin-left: 5px;
    }

@media (max-width: 767px) {
    #title {
        text-align: center;
    }

    .social-button {
        float: none;
        margin: 15px -15px;
    }

        .social-button > li {
            float: none;
            text-align: center;
        }
}

#overview {
    padding: 10px 0;
}

    #overview:hover,
    #overview:focus {
        text-decoration: underline;
        background-color: transparent;
    }

.nuget {
    background-color: #202020;
    border: 4px solid #c0c0c0;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px #6e6e6e;
    -ms-box-shadow: 2px 2px 3px #6e6e6e;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1.5em 'andale mono', 'lucida console', monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
}

#highlights {
    list-style-type: none;
    padding: 0 20px;
}


form {
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-width: 1px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

    form > h4 {
        margin-left: 5px;
    }

/*
 * Sidebar
 */

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #428bca;
}


/* Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
      position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
  }

    .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 12px;
  }
}



#google-map-icon {
    position: absolute;
    top: 30px;
    width: 563px;
    height: 306px;
    z-index: -1;
}

/* overrides*/
.navbar {
    margin-bottom: 0;
}

.navbar-collapse {
    max-height: 100%;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2a6496;
    background-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #2a6496;
    text-decoration: none;
    background-color: #f8f8f8;
}

.navbar-default .navbar-nav > li > a {
    color: #428bca;
}

.nav > li > a {
    padding: 10px 15px;
}

pre.prettyprint {
    padding: 10px;
    border: 1px solid #e7e7e7;
}

pre {
    background-color: #f8f8f8;
    -ms-border-radius: 2px;
    border-radius: 2px;
}


.prettyprint .com, .prettified .com {
    color: #008000;
}

.prettyprint .atn, .prettified .atn {
    color: #f00;
}

.prettyprint .dec, .prettified .dec {
    color: #606;
}

.prettyprint .lit, .prettified .lit {
    color: #066;
}

.prettyprint .pun, .prettified .pun {
    color: #660;
}

.prettyprint .str, .prettified .str,
.prettyprint .tag, .prettified .tag {
    color: #a31515;
}

.prettyprint .typ, .prettified .typ,
.prettyprint .pln, .prettified .pln {
    color: #000;
}

.prettyprint .kwd, .prettified .kwd,
.prettyprint .atv, .prettified .atv {
    color: #00f;
}
