pool:
  name: Default
  demands:
  - msbuild
  - visualstudio

variables:
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'release'

stages:
- stage: Build
  displayName: Build
  jobs:
  - job: Build
    displayName: Build Solution
    steps:

    - task: VSBuild@1
      displayName: 'Build solution'
      inputs:
        msbuildArgs: '/t:restore,build /p:PublishUrl="$(build.artifactstagingdirectory)\GoogleMapMvcSamples"'
        platform: '$(BuildPlatform)'
        configuration: '$(BuildConfiguration)'

    - task: ArchiveFiles@2
      displayName: 'Archive $(build.artifactstagingdirectory)\GoogleMapMvcSamples'
      inputs:
        rootFolderOrFile: '$(build.artifactstagingdirectory)\GoogleMapMvcSamples'
        includeRootFolder: false
        archiveFile: '$(Build.ArtifactStagingDirectory)/GoogleMapMvcSamples.zip'

    - task: DeleteFiles@1
      displayName: 'Delete files from $(build.artifactstagingdirectory)'
      inputs:
        SourceFolder: '$(build.artifactstagingdirectory)'
        Contents: |
         GoogleMapMvcSamples

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: drop'

- stage: Deploy
  displayName: Deploy
  dependsOn: [Build]
  jobs:

    - job: Deploy
      displayName: Deploy Azure App Service
      steps:

      - checkout: none

      - task: DownloadBuildArtifacts@0
        inputs:
          buildType: 'current'
          downloadType: 'single'
          artifactName: 'drop'
          downloadPath: '$(System.ArtifactsDirectory)'

      - task: AzureRmWebAppDeployment@4
        inputs:
          ConnectionType: 'AzureRM'
          azureSubscription: 'Inmediati (GoogleMap.MVC)'
          appType: 'webApp'
          WebAppName: 'jmelosegui-com'
          VirtualApplication: 'map'
          packageForLinux: '$(System.ArtifactsDirectory)/drop/GoogleMapMvcSamples.zip'