<ul class="nav">
    <li><a id="overview" href="~/">Overview</a></li>
    <li>
        Basic
        <ul>
            <li><a href="~/basic">First Look</a></li>
            <li><a href="~/basic/UIControls">UI Controls</a></li>
            <li><a href="~/basic/Language">Map Language</a></li>
            <li><a href="~/basic/ClientEvents">Client Events</a></li>
        </ul>
    </li>
    <li>
        Map Types
        <ul>
            <li><a href="~/MapType/StyledMapType">Styled Map Type</a></li>
            <li><a href="~/MapType/ImageMapType">Image Map Type</a></li>
        </ul>
    </li>
    <li>
        Markers
        <ul>
            <li><a href="~/marker/SimpleMarker">Simple Marker</a></li>
            <li><a href="~/marker/CustomIcons">Custom Icons</a></li>
            <li><a href="~/marker/DataBindingToModel">Binding To Model</a></li>
            <li><a href="~/marker/InfoWindow">Info Window</a></li>
            <li><a href="~/marker/MarkerClustering">Markers Clustering</a></li>
        </ul>
    </li>
    <li>
        Shapes
        <ul>
            <li><a href="~/Shapes/PolygonBasic">Polygon Basic</a></li>
            <li><a href="~/Shapes/CircleBasic">Circle Basic</a></li>
            <li><a href="~/Shapes/DataBindingToModel">DataBinding To Model</a></li>
        </ul>
    </li>
    <li>
        Services
        <ul>
            <li><a href="~/Services/Geolocation">Geolocation</a></li>
        </ul>
    </li>
</ul>