<ul class="nav">
    <li><a id="overview" href="~/">Overview</a></li>
    <li>
        Basic
        <ul>
            <li><a href="~/basic">First Look</a></li>
            <li><a href="~/basic/version">Version</a></li>
            <li><a href="~/basic/UIControls">UI Controls</a></li>
            <li><a href="~/basic/Language">Map Language</a></li>
            <li><a href="~/basic/Multimap">Multiple Maps</a></li>
            <li><a href="~/basic/ClientEvents">Client Events</a></li>
            <li><a href="~/basic/AjaxPartialView">PartialView with Ajax</a></li>
       </ul>
    </li>
    <li>
        Map Types
        <ul>
            <li><a href="~/MapType/StyledMapType">Styled Map Type</a></li>
            <li><a href="~/MapType/ImageMapType">Image Map Type</a></li>
        </ul>
    </li>
    <li>
        Markers
        <ul>
            <li><a href="~/marker/SimpleMarker">Simple Marker</a></li>
            <li><a href="~/marker/CustomIcons">Custom Icons</a></li>
            <li><a href="~/marker/DataBindingToModel">Binding To Model</a></li>
            <li><a href="~/marker/InfoWindow">Info Window</a></li>
            <li><a href="~/marker/MarkerClustering">Markers Clustering</a></li>
            <li><a href="~/marker/ClientEvents">Client Events</a></li>
            <li><a href="~/marker/Geocoding">Geocoding</a></li>
            <li><a href="~/marker/FitToMarkersBounds">Fit To Markers Bounds</a></li>
            <li><a href="~/marker/ExternalReference">External Reference</a></li>
        </ul>
    </li>
    <li>
        Shapes
        <ul>
            <li><a href="~/Shapes/PolylineBasic">Polyline Basic</a></li>
            <li><a href="~/Shapes/PolygonBasic">Polygon Basic</a></li>
            <li><a href="~/Shapes/CircleBasic">Circle Basic</a></li>
            <li><a href="~/Shapes/DataBindingToModel">DataBinding To Model</a></li>
        </ul>
    </li>
    <li>
        Services
        <ul>
            <li><a href="~/Services/Geolocation">Geolocation</a></li>
            <li><a href="~/Services/Geocoding">Geocoding</a></li>
        </ul>
    </li>
    <li>
        Layers
        <ul>
            <li><a href="~/Layers/Heatmap">Heatmap</a></li>
            <li><a href="~/Layers/Kml">Kml</a></li>
            <li><a href="~/Layers/TrafficTransitBike">Traffic, Transit and Bicycling Layer</a></li>
        </ul>
    </li>
    <li>
        Libraries
        <ul>
            <li><a href="~/Libraries/SearchBox">Places search box</a></li>
            <li><a href="~/Libraries/Drawing">Drawing tools</a></li>
        </ul>
</ul>