

 <div>
     <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal"
        data-via="jmelosegui" data-url="http://www.jmelosegui.com/map" data-counturl="http://googlemap.jmelosegui.com/"
        data-text="Googlemap control for @@aspnet #MVC">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
