@{
    ViewBag.PageTitle = "Googlemap control for Asp.Net MVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 thumbnail">
        <img src="~/Images/logo.jpg" alt="Googlemap Logo" class="pull-left hidden-xs" sizes="200" style="margin-right: 30px; width: 200px" />
        <h4 style="margin-top: 30px;">
            Googlemap control for Asp.Net MVC wraps Google maps API simplifying its use in ASP.NET
            MVC applications.<br />
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Install</h2>
        <p>Inside Visual Studio create a new AspNet Mvc Application.</p>
        <p> Open the package manager console and install the Googlemap Mvc nuget package by typing the following command.</p>

        <div class="col-lg-9 col-xs-12 nuget">
            PM> Install-Package Jmelosegui.Mvc.Googlemap
        </div>
        <div class="clearfix"></div>
    </div>
    <br />
    <div class="col-sm-12">

        <p>Once you have it go to the Views-&gt;Home-&gt;Index.cshtml and include the following</p>
        <pre class="prettyprint">
    @@(
        Html.GoogleMap()
            .Name("map")
            .Height(500)
            .Markers(m => m.Add().Title("Hello World!")) 
    )
        </pre>

        <p>and at the end of that page add the following</p>

        <pre class="prettyprint">
    @@section scripts
    {
       @@(Html.GoogleMap().ScriptRegistrar())
    }
        </pre>

        <p>Don't forget to add the namespace to the very top of your page</p>

        <pre class="prettyprint">
    @@using Jmelosegui.Mvc.GoogleMap
        </pre>
        
        <p>Now hit F5 and you should see the map rendering on the page </p>
    </div>

    <div class="col-sm-12">
        <h2>License</h2>
        <p>Googlemap control for Asp.Net MVC is released under the <a href="https://raw.githubusercontent.com/jmelosegui/GooglemapMvc/master/LICENSE">MIT LICENSE</a> Version 2.</p>
    </div>
</div>
