@{
    ViewBag.PageTitle = "Googlemap control for Asp.Net MVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/logo.jpg" alt="Alternate Text" class="pull-left hidden-xs" style="margin-right: 30px" />
        <p style="margin-top: 30px;">
            The control wraps Google maps API simplifying the use of Google maps in ASP.NET
            MVC applications.<br />
        </p>
    </div>
</div>

<div class="row">
    <ul id="highlights">
        <li>
            <h3>
                Open Source
            </h3>
            <p>
                Feel free to use it under <strong>GPLv2</strong> license
            </p>
        </li>
        <li>
            <h3>Nuget Package Available</h3>
            <div class="col-lg-9 col-xs-12 nuget">
                PM> Install-Package Jmelosegui.Mvc.Googlemap
            </div>
            <div class="clearfix"></div>
            <p>
                See the <a href="https://github.com/jmelosegui/GooglemapMvc/wiki/Installation">Installation</a> page on github
            </p>

        </li>
    </ul>
</div>
